bin

# .DS_Store files make me want to not be alive
.DS_Store
*/.DS_Store
**/.DS_Store

# CMake be damned
build
*/build
**/build
**/*/build

# nano damn you
*.swp

# fuck macOS for this shit
._*

.vscode