[submodule "xpdbg_software/submodules/capstone"]
	path = xpdbg_software/submodules/capstone
	url = https://github.com/capstone-engine/capstone.git
	branch=next
[submodule "xpdbg_software/submodules/keystone"]
	path = xpdbg_software/submodules/keystone
	url = https://github.com/keystone-engine/keystone.git
[submodule "xpdbg_software/submodules/unicorn"]
	path = xpdbg_software/submodules/unicorn
	url = https://github.com/unicorn-engine/unicorn.git
[submodule "xpdbg_software/submodules/LIEF"]
	path = xpdbg_software/submodules/LIEF
	url = https://github.com/lief-project/LIEF.git
[submodule "xpdbg_software/submodules/binary-samples"]
	path = xpdbg_software/submodules/binary-samples
	url = https://github.com/JonathanSalwan/binary-samples.git
